@mixin backgroundImageConfig($url, $position, $size) {
    background-size: $size;
    background-position: $position;
    background-repeat: no-repeat;
    background-image: url($url);
}

@mixin flex($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin font($weight, $size) {
    font-family: "Montserrat", sans-serif;
    font-weight: $weight;
    font-size: $size;
}

$primary-color: #899d5e;
$secondary-color: #2b7180;

html {
    scroll-behavior: smooth;
    background-color: $secondary-color;
}

body {
    background-color: #FFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    @include font(600, 2em);
    text-transform: uppercase;
    letter-spacing: 10px;
}

h2 {
    @include font(600, 3em);
    text-transform: capitalize;
}

h3 {
    @include font(600, 1.2em);
    text-transform: capitalize;
}

h4 {
    @include font(600, 1em);
    text-transform: uppercase;
    color: #FFF;
}

h5 {
    @include font(300, 1em);
    text-transform: uppercase;
}

p {
    @include font(400, 1.2em);
}

header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 80px;
    background-color: #FFF;
    transition: 0.5s;
    z-index: 100;
    nav {
        width: 100%;
        height: 100%;
        @include flex(space-between, center);
        #logo {
            height: 50px;
        }
        div {
            width: 33.33vw;
        }
        #navdiv1 {
            ul {
                float: left;
                margin-left: 40px;
            }
        }
        #navdiv2 {
            text-align: center;
        }
        #navdiv3 {
            ul {
                float: right;
                margin-right: 40px;
            }
        }
        ul {
            display: flex;
            li {
                list-style: none;
                padding: 0 12px;
                a {
                    text-decoration: none;
                    color: $secondary-color;
                    @include font(600, 15px);
                    text-transform: uppercase;
                    cursor: pointer;
                }
                img {
                    height: 30px;
                }
            }
        }
    }
}

main#mainIndex {
    width: 100%;
    #hero {
        width: 100%;
        height: 100vh;
        @include backgroundImageConfig('/assets/hero.png', top center, cover);
        h1, h5 {
            color: $primary-color;
            text-align: center;
            position: relative;
            top: 20vh;
        }
        #arrowdowncontainer {
            width: 100%;
            text-align: center;
            position: absolute;
            bottom: 50px;
            #arrowdown {
                background-color: $primary-color;
                height: 50px;
                width: 50px;
                border-radius: 25px;
                display: inline-block;
                transition: 0.5s;
                &:hover {
                    width: 55px;
                    height: 55px;
                    border-radius: 27.5px;
                }
                a {
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    img {
                        width: 100%;
                    }
                }
            }
            
        }
    }

    #brand {
        padding: 2vw;
        div.brand__container {
            width: 100%;
            height: 60vh;
            &:nth-of-type(1) {
                background-color: #EAE6DC;
                & .cover {
                    float: right;
                    @include backgroundImageConfig('/assets/herbs.png', center center, cover);
                }
            }
            &:nth-of-type(2) {
                background-color: $primary-color;
                & .cover {
                    float: left;
                    @include backgroundImageConfig('/assets/herbfarm.png', center center, cover);
                }
                & .textcontainer {
                    color: #FFF;
                }
            }
            div.cover {
                width: 50%;
                height: 100%;
            }
            div.textcontainer {
                width: 50%;
                height: 100%;
                padding: 30px 30px 50px 30px;
                @include flex(flex-end, center);
                flex-direction: column;
                color: #000;
                h2 {
                    margin-bottom: 50px;
                }
            }
        }
    }

    #trending {
        margin: 5vw 2vw;
        h2 {
            text-align: center;
            color: $primary-color;
        }
        #trendingContainer {
            @include flex(space-between, flex-start);
            margin-top: 25px;
            .trendingBox {
                width: 28vw;
                div {
                    height: 28vw;
                    @include flex(center, center);
                    margin-bottom: 20px;
                    background-color: #FFF;
                    border: 2px solid $secondary-color;
                    position: relative;
                    overflow: hidden;
                    img {
                        height: 80%;
                        transition: ease-in-out 0.5s;
                    }
                    &:hover img {
                        height: 90%;
                    }
                    div {
                        position: absolute;
                        background-color: $secondary-color;
                        top: 10px;
                        left: 10px;
                        padding: 10px 20px;
                        width: fit-content;
                        height: fit-content;
                        h3 {
                            color: #FFF;
                        }
                    }
                }
                p {
                    span {
                        margin-right: 20px;
                        text-decoration: line-through #f00;
                    }
                }
            }
        }
    }
}

footer {
    background-color: $primary-color;
    width: 100%;
    padding: 5vw 2vw 7vw 2vw;
    @include flex(space-between, center);
    p, a {
        color: #FFF;
        @include font(300, 15px);
    }
    ul {
        width: 33.33vw;
        li{
            list-style: none;
            margin: 10px 0;
            ul {
                display: flex;
                gap: 0 20px;
                img {
                    height: 20px;
                }
            }
        }
    }
}

main#main__login {
    height: 100vh;
    width: 100%;
    #homebutton {
        position: absolute;
        top: 20px;
        left: 20px;
        a {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            @include flex(center, center);
        }
        img {
            height: 40px;
        }
    }
    section {
        width: 50%;
        height: 100%;
    }
    #content {
        background-color: $primary-color;
        padding-top: 20vh;
        float: left;
        h1 {
            color: white;
            text-align: center;
        }
        form {
            display: flex;
            flex-direction: column;
            margin-top: 10vh;
            input {
                background-color: transparent;
                border: 2px solid #FFF;
                padding: 5px;
                width: 50%;
                margin: 10px auto;
                @include font(400, 1em);
                color: #FFF;
                &::placeholder {
                    color: #FFF;
                    @include font(400, 1em);
                }
            }
        #buttonscontainer {
            width: 50%;
            margin: 0 auto;
            @include flex(space-between, center);
            button {
                width: 46%;
                height: 40px;
                margin-top: 10px;
                @include font(500, auto);
                @include flex(center, center);
                cursor: pointer;
                &:nth-of-type(1) {
                    background-color: #FFF;
                    color: $primary-color;
                    border: none;
                }
                &:nth-of-type(2) {
                    background-color: $primary-color;
                    color: #FFF;
                    border: 2px solid #FFF;
                }
                &:hover {
                    text-decoration: underline;
                }
                }
            }
        }
        #forgotpasswordcontainer {
            width: 50%;
            margin: 0 auto;
            margin-top: 20px;
        }
        a {
            color: #FFF;
            @include font(100, auto);
        }
    }
    #inlogCover {
        float: right;
        @include backgroundImageConfig('/assets/logincover.png', center center, cover);
    }
}

main#main__overview {
    width: 100%;
    #overview__cover {
        @include backgroundImageConfig("/assets/autumncollection.png", center center , cover);
        height: 20vh;
        @include flex(flex-end, center);
        h1 {
            display: inline-block;
            text-align: right;
            padding-right: 10vw;
            a {
                color: $primary-color;
            }
        }
    }
    section {
        width: 100%;
        float: right;
        background-color: #FFF;
        div#overview__products {
            margin: 10vh 3vw;
            div#overview__filters {
                @include flex(space-between, center);
                margin-bottom: 5vh;
                background-color: $secondary-color;
                padding: 30px;
                select {
                    width: 100px;
                    border: 2px solid $primary-color;
                    background-color: #FFF;
                }
                div#overview__price__range__container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 200px;
                    label p {
                        color: $primary-color;
                    }
                    input[type="range"] {
                        -webkit-appearance: none;
                        margin-right: 15px;
                        width: 200px;
                        height: 7px;
                        background: $primary-color;
                        border-radius: 5px;
                        background-size: 70% 100%;
                        background-repeat: no-repeat;
                    }
                      
                    input[type="range"]::-webkit-slider-thumb {
                        -webkit-appearance: none;
                        height: 20px;
                        width: 20px;
                        border-radius: 50%;
                        background: #FFF;
                        cursor: ew-resize;
                        box-shadow: 0 0 2px 0 #555;
                        transition: background .3s ease-in-out;
                    }
                      
                    input[type=range]::-webkit-slider-runnable-track  {
                        -webkit-appearance: none;
                        box-shadow: none;
                        border: none;
                        background: transparent;
                    }
                }
            }

            h2 {
                color: $secondary-color;
            }

            div.overview__flexbox {
                @include flex(space-between, flex-start);
                flex-wrap: wrap;
                gap: 0 10px;
                cursor: pointer;
                div.overview__box {
                    width: 250px;
                    color: $primary-color;
                    margin-bottom: 5vh;
                    display: inline-block;
                    a {
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        text-decoration: none;
                        color: $primary-color;
                    }
                    div {
                        width: 100%;
                        height: 250px;
                        background-color: #FFF;
                        border: 2px solid $secondary-color;
                        @include flex(center, center);
                        margin-bottom: 10px;
                        &:hover img {
                            width: 90%;
                        }
                        img {
                            width: 80%;
                            transition: ease-in-out 0.5s;
                        }
                    }
                    p {
                        @include font(700, auto);
                        span {
                            @include font(400, auto);
                            margin-right: 20px;
                            text-decoration: line-through #F00;
                        }
                    }
                }
            }
        }
    }
}


main#main__detail {
    width: 65%;
    margin: 0 auto;
    padding-top: 100px;
    h2 {
        color: $secondary-color;
    }
    div#detail__top {
        width: 100%;
        padding-top: 20px;
        @include flex(space-between, flex-start);
        div#detail__imgcontainer {
            width: 70%;
            @include flex(space-between, flex-start);
            img {
                aspect-ratio: 1/1;
                width: 50%;
                border: 2px solid $secondary-color;
            }
            div#detail__secimg {
                width: 50%;
                display: flex;
                flex-wrap: wrap;
                img {
                    border: none;
                    opacity: 50%;
                };
            }
        }
        div#detail__info {
            width: 20%;
            > p {
                @include font(700, 1.5em);
                color: $primary-color;
                margin-bottom: 5vh;
                span {
                    margin-right: 25px;
                    text-decoration: line-through #f00;
                    @include font(400, auto);
                }
            }
            #detail__addtocart {
                background-color: $primary-color;
                @include flex("", "center");
                width: 250px;
                height: 40px;
                select {
                    width: 20%;
                    height: 100%;
                    background-color: $secondary-color;
                    color: #FFF;
                    border: none;
                    padding: 5px;
                }
                div {
                    width: 80%;
                    height: 100%;
                    a {
                        color: #FFF;
                        text-decoration: none;
                        width: 100%;
                        height: 100%;
                        @include font(700, 1.4em);
                        @include flex(center, center);
                    }
                }
            }
        }
    }
    div#detail__bottom {
        width: 100%;
        padding: 50px 0;
        .detail__info__texts {
            margin-bottom: 2vh;
            h3 {
                color: $primary-color;
                font-size: 2em;
            }
            ul {
                margin-left: 20px;
                list-style: none;
                position: relative;
                top: -18px;
            }
            ul li::before {
                content: "\2022";
                color: $secondary-color;
                display: inline-block;
                font-weight: bold;
                width: 1em;
                margin-left: -1em;
                position: relative;
                top: 22px;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    header #navdiv1 ul li:nth-child(2) {
        display: none;
    }

    main#mainIndex {
        #hero {
            h1, h5 {
                top: 10vh;
            }
        }

        #brand {
            padding: 0;
            div.brand__container {
                height: auto;
                display: flex;
                flex-direction: column-reverse;
                div.cover {
                    width: 100%;
                    height: 80px;
                }
                div.textcontainer {
                    width: 100%;
                }
            }
            
        }
        #trending {
            margin-top: 50px;
            #trendingContainer {
                flex-direction: column;
                align-items: center;
                .trendingBox {
                    width: 50vw;
                    margin-bottom: 10vh;
                    >div {
                        height: 50vw;
                    }
                }
            }
        }
    }

    main#main__overview {
        div#overview__cover {
            height: 30vh;
        }
        
    }

    main#main__login {
        #content {
            width: 80%;
        }
        #inlogCover {
            width: 20%;
            filter: blur(2px);
            overflow-x: hidden;
        }
    }

    main#main__detail {
        width: 90%;
        div#detail__top {
            flex-direction: column;
            @include flex(center, center);
            div#detail__imgcontainer, div#detail__info {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 560px) {
    div.overview__flexbox {
            justify-content: space-around !important;
        }
}